body {
    background-color: lightgray;
    justify-content: center; 
    box-sizing: border-box; 
}

.title {
    font-size: 22px; 
    color: black; 
    justify-content: center; 
    margin: auto; 
}

#settings {
    justify-content: space-evenly;
}

#sketchContainer {
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(34px, 1fr));
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
}
