* {
    box-sizing: border-box; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

body {
    display: flex; 
    flex-direction: column; 
    background-image: url("green-white-brick.png"); 
    /* Art from Mitchell Luo on UnSplash => https://unsplash.com/photos/gbur-TgfCPY */
    background-color: #d8d8d8;
    justify-content: center; 
}

.title {
    display: flex; 
    font-size: 90px; 
    color: #d8d8d8; 
    background-color: #2d4c3c;
    opacity: .9;  
    justify-content: center; 
    margin: auto; 
    padding-bottom: 20px; 
}

#settings {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    align-items: center; 
    height: 80px; 
}

button { 
    width: 100px; 
    height: 30px; 
    background-color: #2d4c3c; 
    font-size: 20px;
    color: #d8d8d8; 
}

select {
    width: 100px; 
    height: 30px; 
    background-color: #2d4c3c; 
    font-size: 20px;
    color: #d8d8d8; 
}

select {
    width: 100px; 
    background-color: #2d4c3c; 
    color: #d8d8d8; 
}

#sketchBox {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 600px; 
    width: 725px; 
    padding: 0px;  
    margin-top: 0px; 
    margin-right: auto; 
    margin-left: auto; 
}

#sketchContainer {
    margin-top: 0px;
    margin-right: auto; 
    margin-left: auto; 
    display: inline-grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    border: 5px solid white;
    height: 575px;
    width: 575px;
    background-color: gray;
    opacity: .9; 
}

.pixelBox {
    background-color: #d8d8d8; 
}

footer, a {
    display: flex; 
    font-size: 30px; 
    color: #d8d8d8; 
    background-color: #2d4c3c;
    opacity: .9;  
    justify-content: center; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 20px;    
}

#gh-logo {
    width: 35px;
    height: 35px;
    margin-left: 5px; 
    margin-right: 5px; 
}